<nav class="header mat-elevation-z2">
  <span class="title">Ngx-workspace Demo</span>
  <span class="spacer"></span>
  <a mat-icon-button href="https://github.com/donle/ngx-workspace" matTooltip="Github">
    <i class="fa fa-github" [style.fontSize.px]="24"></i>
  </a>
</nav>
<div class="main layout border-box" [style.padding.px]="16">
  <div class="flex8 border-box" [class.overflow]="!responsive" [style.padding.px]="8">
    <ngx-workboard [wsWidgets]="displayWidgets" [wsResponsive]="responsive" [wsResponsiveScale]="responsiveScale" [(wsEditable)]="editable"></ngx-workboard>
  </div>
  <div class="flex4 border-box" [style.padding.px]="8">
    <div class="layout wrap border-box options">
      <mat-checkbox class="flex12" [(ngModel)]="editable">Edit</mat-checkbox>
      <mat-checkbox class="flex12" [(ngModel)]="responsive">Responsive</mat-checkbox>
      <mat-form-field>
        <input matInput placeholder="Responsive Scale" [(ngModel)]="responsiveScale" />
      </mat-form-field>

      <div class="flex12 layout wrap">
        <span class="flex12 widget-title" [style.padding.px]="8">Widgets</span>
        <div *ngFor="let widget of widgetsControl; index as i" class="layout wrap">
          <mat-checkbox class="flex12" [(ngModel)]="widget.enabled" (change)="checkWidget($event)">{{widget.Title}}</mat-checkbox>
          <mat-form-field class="flex6 border-box" [style.padding.px]="8">
            <input matInput placeholder="Unit Height" type="number" [disabled]="!widget.enabled" [(ngModel)]="originalWidgets[i].unitHeight" />
          </mat-form-field>
          <mat-form-field class="flex6 border-box" [style.padding.px]="8">
            <input matInput placeholder="Unit Wiidth" type="number" [disabled]="!widget.enabled" [(ngModel)]="originalWidgets[i].unitWidth" />
          </mat-form-field>
          <mat-form-field class="flex6 border-box" [style.padding.px]="8">
            <input matInput placeholder="Top Offset" type="number" [disabled]="!widget.enabled" [(ngModel)]="originalWidgets[i].offsetLeftUnit" />
          </mat-form-field>
          <mat-form-field class="flex6 border-box" [style.padding.px]="8">
            <input matInput placeholder="Left Offset" type="number" [disabled]="!widget.enabled" [(ngModel)]="originalWidgets[i].offsetTopUnit" />
          </mat-form-field>
        </div>
      </div>
    </div>
  </div>
</div>